@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    width: 1440px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

/*Contenedor principal y sus tres grillas*/

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "a c"
        "b c";
    margin-top: 150px;    
}

.card_front {
    grid-area: a;
    transform: scale(0.9);
    margin-left: 120px;
}

.card_back {
    grid-area: b;
    transform: scale(0.9);
    margin-left: 220px;
}

.data {
    grid-area: c;
}

/* Tarjeta frontal*/

#logo {
    position: absolute;
    top: 25px;
    left: 40px;
}

#eg_cardnumber {
    position: absolute;
    font-size: 30px ;
    top: 120px;
    left: 60px;
}

#eg_name {
    position: absolute;
    top: 190px;
    left: 40px;
}

#eg_date {
    position: absolute;
    top: 190px;
    left: 350px;
}

.card_front_text {
    color: hsl( 0, 0%, 100%);
}

/*Reverso Tarjeta*/

#eg_cvc {
    position: absolute;
    top: 110px;
    left: 340px;
}

.card_back_text {
    color: hsl( 0, 0%, 100%);
}


/*Formulario*/

#card_form {
   display: flex;
   flex-direction:column;
   align-items:stretch ;

}

label {
    display:flex;
    color: hsl(278, 68%, 11%);
}

input {
    width: max-content;
    border-width: 1px;
    border-color: hsl(270, 3%, 87%);
    border-radius: 8%;
    background-color: hsl( 0, 0%, 100%);
    cursor: pointer;
}

.name {
    flex-flow: row;

}

.card_number {
    flex-direction: row-reverse;

}

.month {
    flex-direction: row;
}

.year {
    flex-direction: row;
}

.cvc {
    flex-direction: row;
}

button {
    margin-top: 20px;
    background-color: hsl(278,68%, 11%);
    color: hsl(270, 3%, 87%);
    cursor: pointer;
    width: 450px;
    align-items: end;

}